body {
  font-family: sans-serif;
  background: #7db939;
  text-align: center;
  padding: 50px;
}

.container {
  background: rgb(209, 125, 125);
  display: inline-block;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

input {
  padding: 10px;
  margin: 10px;
  width: 80px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: #2b0916;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0e2c0f;
}
